.sales-resume-modal-container {
    width: 50%;
    position: absolute;
    top: 50vh;
    left: 50vw;
    padding: 2%;
    transform: translate(-50%, -50%);
    border: 1px solid #b3b3b353;
    border-radius: 12px;
}

.sales-resume-modal-container::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.filter-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    border: 1px solid #b3b3b353;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.filter {
    display: flex;
    gap: 12px;
}

.filter button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    border: 1px solid #b3b3b353;
    cursor: pointer;
}

.filter button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.selected-filter {
    background: linear-gradient(-90deg, #a7217f, #d3216a);
    color: white;
}

.totals {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    /* font-size: 24px; */
    /* font-weight: 700; */
}

.one-total {
    width: 42%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid #b3b3b353;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.one-total h2 {
    font-weight: 600;
}

.total-per-method {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
    border: 1px solid #b3b3b353;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.total-per-method .title {
    display: flex;
    gap: 12px;
    align-items: center;
    font-weight: 600
}

.methods-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.method {
    padding: 16px 12px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    background-color: #efefef;
    border-radius: 12px;
}

.method-row-up {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.method-row-down {
    display: flex;
    justify-content: space-between;
    color: #4d4d4d;
}

.money {
    font-weight: 800;
}

.buttons-container {
    margin-top: 12px;
    display: flex;
    width: 100%;
    gap: 8px;
    justify-content: flex-end;
}

.buttons-container button {
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #b3b3b353;
    outline: none;
    font-size: 16px;
    background-color: #fff;
}

.buttons-container button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}