.new-offer-form-container {
    position: absolute;
    top: 50vh;
    left: 50vw;
    padding: 2%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    border: 1px solid #b3b3b353;
    border-radius: 12px;
}

.new-offer-form-container::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.new-offer-form {
    display: flex;
    flex-direction: column;
    gap: 8px
}

.new-offer-form p {
    color: #4d4d4d;
}

.fields-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
}

.fields-container input {
    max-width: 50%;
    padding: 10px 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #b3b3b353;
    outline: none;
}

.search-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%
}

.search-container input {
    width: 100%
}

.add-item-button {
    padding: 8px 10px;
    background: linear-gradient(-90deg, #a7217f, #d3216a);
    color: white;
    border: none;
    border-radius: 8px;
    outline: 1px solid #b3b3b353;
}

.add-item-button:hover {
    cursor: pointer;
    background: linear-gradient(-90deg, #c954af, #f5438c);
}

.quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.quantity-container button {
    padding: 6px 9px;
    background-color: white;
    border: none;
    border-radius: 4px;
    outline: 1px solid #b3b3b353;
}

.quantity-container button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.buttons-container {
    margin-top: 12px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 12px;
}

.buttons-container button {
    padding: 12px 16px;
    font-size: 16px;
    width: 12%;
}

.cancel-button {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    border-radius: 8px;
}

.cancel-button:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

.submit-button {
    background: linear-gradient(-90deg, #a7217f, #d3216a);
    color: white;
    border: none;
    border-radius: 8px;
    outline: 1px solid #b3b3b353;
}

.submit-button:hover {
    cursor: pointer;
    background: linear-gradient(-90deg, #c954af, #f5438c);
}

.error-message {
    max-width: 50%;
    padding: 12px 12px;
    outline: 2px solid #d3216a26;
    border-radius: 12px;
    background: #f8d6db;
    color: #721c24
}