.menu-container {
    width: 100%;
}

.categories-container {
    margin-top: 24px;
    padding-left: 2px;
    padding-right: 2px;
    /* margin-left: 12px; */
    width: 100%;
}

.options-container {
    margin-top: 24px;
    /* margin-left: 12px; */
    width: 100%;
}