.menu-container {
    width: 100%;
}

.categories-container {
    margin-top: 24px;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%;
}

.options-container {
    margin-top: 24px;
    width: 96%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* justify-content: space-between; */
    margin-bottom: 12px;
}